<h2>Password Reset</h2>
<p>Hello {{username}},</p>
<p>We received a request to reset your password. Click the link below:</p>
<p><a class="btn" href="{{resetLink}}">Reset Password</a></p>
<p class="muted">If you didn’t request this, you can safely ignore this email.</p>